body{
    background-color: red;
}
#all-circles{
    text-align: center;
}
#circle{
    width:90px;
    height: 90px;
    border-radius: 45px;
    background: black;
    margin: 0 auto;

}


#circleleft{
    width:45px;
    height: 90px;
    border-radius: 90px 0 0 90px;
    background: black;
    margin-right: 50px;
    display: inline-block;
}

#circleright{
    width:45px;
    height: 90px;
    border-radius: 0 90px 90px 0;
    background: black;
    margin-left:50px;
    display: inline-block;
}

#clicks{
    display:none;
}